.containerLoadSelect {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  background-color: aliceblue;
}
.form__group-select {
  display: flex;
  gap: 5px;
  margin-bottom: 1rem;
  align-items: center;
}

.form__select {
  font-size: 1.4rem;
  padding: 5px;
  border-radius: 1rem;
}
